header {
	background-image: linear-gradient(bottom, rgb(153,0,0) 25%, rgb(255,0,0) 63%);
background-image: -o-linear-gradient(bottom, rgb(153,0,0) 25%, rgb(255,0,0) 63%);
background-image: -moz-linear-gradient(bottom, rgb(153,0,0) 25%, rgb(255,0,0) 63%);
background-image: -webkit-linear-gradient(bottom, rgb(153,0,0) 25%, rgb(255,0,0) 63%);
background-image: -ms-linear-gradient(bottom, rgb(153,0,0) 25%, rgb(255,0,0) 63%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.25, rgb(153,0,0)),
	color-stop(0.63, rgb(255,0,0))
);
}
